.git
.github
node_modules
vendor
storage/*.key
storage/installed.lock
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
.editorconfig
.phpunit.result.cache
phpstan.neon
phpunit.xml
phpunit.testing.xml
pint.json
